In [13]:
import pandas as pd

In [14]:
df = pd.read_csv("./train_without_duplicate/yunli_merge.csv")

/var/folders/nc/msb__ldd2wn4c7szd6_lx25r0000gn/T/ipykernel_57994/3715300989.py:1: DtypeWarning: Columns (31,44,55,56,57,58,59,63,78,85,87,89,93,94,97) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./train_without_duplicate/yunli_merge.csv")

In [15]:
df = df.drop(['date_decision','MONTH','WEEK_NUM','target'],axis = 1)

In [17]:
df = df.drop(df.columns[0], axis=1)

In [18]:
df.to_csv('./su_data.csv')

In [12]:
empty_columns = [col for col in df.columns if df[col].isnull().all()]
empty_columns

['periodicityofpmts_997L']

In [26]:
def remove_duplicate(name):
    path = "./train/" + name
    df = pd.read_csv(path)
    if 'num_group1' in df.columns:
        df = df.drop(columns=['num_group1'])
    if 'num_group2' in df.columns:
        df = df.drop(columns=['num_group2'])
    without_duplicate_df = df.drop_duplicates(subset=['case_id'], keep="first")
    path_save = "./train_without_duplicate/" + name
    without_duplicate_df.to_csv(path_save, index=False)
    return None

In [27]:
remove_duplicate("train_applprev_1_0.csv")

/var/folders/nc/msb__ldd2wn4c7szd6_lx25r0000gn/T/ipykernel_36966/1135075185.py:3: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

In [28]:
remove_duplicate("train_applprev_1_1.csv")
remove_duplicate("train_applprev_2.csv")
remove_duplicate("train_debitcard_1.csv")
remove_duplicate("train_deposit_1.csv")

/var/folders/nc/msb__ldd2wn4c7szd6_lx25r0000gn/T/ipykernel_36966/1135075185.py:3: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

In [29]:
remove_duplicate("train_credit_bureau_b_1.csv")
remove_duplicate("train_credit_bureau_b_2.csv")

In [30]:
remove_duplicate("train_credit_bureau_a_2_6.csv")
remove_duplicate("train_credit_bureau_a_2_7.csv")
remove_duplicate("train_credit_bureau_a_2_8.csv")
remove_duplicate("train_credit_bureau_a_2_10.csv")

In [31]:
remove_duplicate("train_credit_bureau_a_2_4.csv")
remove_duplicate("train_credit_bureau_a_2_5.csv")

KeyboardInterrupt:

In [ ]:
df = pd.read_csv("./train/train_base.csv")
df

         case_id date_decision   MONTH  WEEK_NUM  target
0              0    2019-01-03  201901         0       0
1              1    2019-01-03  201901         0       0
2              2    2019-01-04  201901         0       0
3              3    2019-01-03  201901         0       0
4              4    2019-01-04  201901         0       1
...          ...           ...     ...       ...     ...
1526654  2703450    2020-10-05  202010        91       0
1526655  2703451    2020-10-05  202010        91       0
1526656  2703452    2020-10-05  202010        91       0
1526657  2703453    2020-10-05  202010        91       0
1526658  2703454    2020-10-05  202010        91       0

[1526659 rows x 5 columns]

In [ ]:
df1 = pd.read_csv("./train_without_duplicate/train_applprev_1_0.csv")
df2 = pd.read_csv("./train_without_duplicate/train_applprev_1_1.csv")
merged_df = pd.concat([df1, df2], ignore_index=True)

In [ ]:
merged_df.to_csv("./train_without_duplicate/merge.csv", index=False)
merged_df

,case_id,actualdpd_943P,annuity_853A,approvaldate_319D,byoccupationinc_3656910L,cancelreason_3545846M,childnum_21L,creationdate_885D,credacc_actualbalance_314A,credacc_credlmt_575A,...,maxdpdtolerance_577P,outstandingdebt_522A,pmtnum_8L,postype_4733339M,profession_152M,rejectreason_755M,rejectreasonclient_4145042M,revolvingaccount_394A,status_219L,tenor_203L
0,2,0.0,640.2,NaN,NaN,a55475b1,0.0,2013-04-03,NaN,0.0,...,NaN,NaN,24.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,D,24.0
1,3,0.0,6140.0,NaN,NaN,P94_109_143,NaN,2019-01-07,NaN,0.0,...,NaN,NaN,12.0,a55475b1,a55475b1,P94_109_143,a55475b1,NaN,D,12.0
2,4,0.0,2556.6,NaN,NaN,P24_27_36,NaN,2019-01-08,NaN,0.0,...,NaN,NaN,24.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,T,24.0
3,5,0.0,NaN,NaN,NaN,P85_114_140,NaN,2019-01-16,NaN,NaN,...,NaN,NaN,NaN,a55475b1,a55475b1,a55475b1,a55475b1,NaN,T,NaN
4,6,0.0,1773.8,NaN,NaN,P94_109_143,NaN,2018-09-12,NaN,0.0,...,NaN,NaN,11.0,a55475b1,a55475b1,P94_109_143,a55475b1,NaN,D,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1221517,2703450,0.0,2102.2,2019-10-09,NaN,a55475b1,NaN,2019-10-09,NaN,0.0,...,0.0,0.0,12.0,P177_117_192,a55475b1,a55475b1,a55475b1,NaN,K,12.0
1221518,2703451,0.0,0.0,2019-09-30,NaN,a55475b1,NaN,2019-09-30,NaN,0.0,...,0.0,0.0,NaN,P46_145_78,a55475b1,a55475b1,a55475b1,780594500.0,A,NaN
1221519,2703452,0.0,9048.0,NaN,NaN,P180_60_137,NaN,2020-08-21,NaN,0.0,...,NaN,NaN,14.0,P67_102_161,a55475b1,a55475b1,a55475b1,NaN,T,14.0
1221520,2703453,0.0,0.0,2019-12-18,NaN,a55475b1,NaN,2019-12-18,NaN,0.0,...,0.0,0.0,NaN,P46_145_78,a55475b1,a55475b1,a55475b1,780825900.0,A,NaN
1221521,2703454,0.0,2986.8,2020-06-21,NaN,a55475b1,NaN,2020-06-21,NaN,0.0,...,0.0,5919.2,6.0,P177_117_192,a55475b1,a55475b1,a55475b1,NaN,A,6.0

In [ ]:
df_test = pd.read_csv("./train_without_duplicate/merge.csv")
df = df.merge(df_test, on='case_id', how = 'left')
df

,case_id,date_decision,MONTH,WEEK_NUM,target,actualdpd_943P,annuity_853A,approvaldate_319D,byoccupationinc_3656910L,cancelreason_3545846M,...,maxdpdtolerance_577P,outstandingdebt_522A,pmtnum_8L,postype_4733339M,profession_152M,rejectreason_755M,rejectreasonclient_4145042M,revolvingaccount_394A,status_219L,tenor_203L
0,0,2019-01-03,201901,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2019-01-03,201901,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2019-01-04,201901,0,0,0.0,640.2,NaN,NaN,a55475b1,...,NaN,NaN,24.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,D,24.0
3,3,2019-01-03,201901,0,0,0.0,6140.0,NaN,NaN,P94_109_143,...,NaN,NaN,12.0,a55475b1,a55475b1,P94_109_143,a55475b1,NaN,D,12.0
4,4,2019-01-04,201901,0,1,0.0,2556.6,NaN,NaN,P24_27_36,...,NaN,NaN,24.0,a55475b1,a55475b1,a55475b1,a55475b1,NaN,T,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1526654,2703450,2020-10-05,202010,91,0,0.0,2102.2,2019-10-09,NaN,a55475b1,...,0.0,0.0,12.0,P177_117_192,a55475b1,a55475b1,a55475b1,NaN,K,12.0
1526655,2703451,2020-10-05,202010,91,0,0.0,0.0,2019-09-30,NaN,a55475b1,...,0.0,0.0,NaN,P46_145_78,a55475b1,a55475b1,a55475b1,780594500.0,A,NaN
1526656,2703452,2020-10-05,202010,91,0,0.0,9048.0,NaN,NaN,P180_60_137,...,NaN,NaN,14.0,P67_102_161,a55475b1,a55475b1,a55475b1,NaN,T,14.0
1526657,2703453,2020-10-05,202010,91,0,0.0,0.0,2019-12-18,NaN,a55475b1,...,0.0,0.0,NaN,P46_145_78,a55475b1,a55475b1,a55475b1,780825900.0,A,NaN
1526658,2703454,2020-10-05,202010,91,0,0.0,2986.8,2020-06-21,NaN,a55475b1,...,0.0,5919.2,6.0,P177_117_192,a55475b1,a55475b1,a55475b1,NaN,A,6.0

In [ ]:
df_test = pd.read_csv("./train_without_duplicate/train_applprev_2.csv")
df = df.merge(df_test, on='case_id', how = 'left')
df

,case_id,date_decision,MONTH,WEEK_NUM,target,actualdpd_943P,annuity_853A,approvaldate_319D,byoccupationinc_3656910L,cancelreason_3545846M,...,postype_4733339M,profession_152M,rejectreason_755M,rejectreasonclient_4145042M,revolvingaccount_394A,status_219L,tenor_203L,cacccardblochreas_147M,conts_type_509L,credacc_cards_status_52L
0,0,2019-01-03,201901,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2019-01-03,201901,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2019-01-04,201901,0,0,0.0,640.2,NaN,NaN,a55475b1,...,a55475b1,a55475b1,a55475b1,a55475b1,NaN,D,24.0,NaN,EMPLOYMENT_PHONE,NaN
3,3,2019-01-03,201901,0,0,0.0,6140.0,NaN,NaN,P94_109_143,...,a55475b1,a55475b1,P94_109_143,a55475b1,NaN,D,12.0,NaN,PRIMARY_MOBILE,NaN
4,4,2019-01-04,201901,0,1,0.0,2556.6,NaN,NaN,P24_27_36,...,a55475b1,a55475b1,a55475b1,a55475b1,NaN,T,24.0,NaN,HOME_PHONE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1526654,2703450,2020-10-05,202010,91,0,0.0,2102.2,2019-10-09,NaN,a55475b1,...,P177_117_192,a55475b1,a55475b1,a55475b1,NaN,K,12.0,a55475b1,PRIMARY_MOBILE,NaN
1526655,2703451,2020-10-05,202010,91,0,0.0,0.0,2019-09-30,NaN,a55475b1,...,P46_145_78,a55475b1,a55475b1,a55475b1,780594500.0,A,NaN,a55475b1,NaN,NaN
1526656,2703452,2020-10-05,202010,91,0,0.0,9048.0,NaN,NaN,P180_60_137,...,P67_102_161,a55475b1,a55475b1,a55475b1,NaN,T,14.0,a55475b1,PHONE,NaN
1526657,2703453,2020-10-05,202010,91,0,0.0,0.0,2019-12-18,NaN,a55475b1,...,P46_145_78,a55475b1,a55475b1,a55475b1,780825900.0,A,NaN,a55475b1,NaN,NaN
1526658,2703454,2020-10-05,202010,91,0,0.0,2986.8,2020-06-21,NaN,a55475b1,...,P177_117_192,a55475b1,a55475b1,a55475b1,NaN,A,6.0,a55475b1,NaN,NaN

In [ ]:
df_test = pd.read_csv("./train_without_duplicate/train_debitcard_1.csv")
df = df.merge(df_test, on='case_id', how = 'left')
df

,case_id,date_decision,MONTH,WEEK_NUM,target,actualdpd_943P,annuity_853A,approvaldate_319D,byoccupationinc_3656910L,cancelreason_3545846M,...,revolvingaccount_394A,status_219L,tenor_203L,cacccardblochreas_147M,conts_type_509L,credacc_cards_status_52L,last180dayaveragebalance_704A,last180dayturnover_1134A,last30dayturnover_651A,openingdate_857D
0,0,2019-01-03,201901,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2019-01-03,201901,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2019-01-04,201901,0,0,0.0,640.2,NaN,NaN,a55475b1,...,NaN,D,24.0,NaN,EMPLOYMENT_PHONE,NaN,NaN,NaN,NaN,NaN
3,3,2019-01-03,201901,0,0,0.0,6140.0,NaN,NaN,P94_109_143,...,NaN,D,12.0,NaN,PRIMARY_MOBILE,NaN,NaN,NaN,NaN,NaN
4,4,2019-01-04,201901,0,1,0.0,2556.6,NaN,NaN,P24_27_36,...,NaN,T,24.0,NaN,HOME_PHONE,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1526654,2703450,2020-10-05,202010,91,0,0.0,2102.2,2019-10-09,NaN,a55475b1,...,NaN,K,12.0,a55475b1,PRIMARY_MOBILE,NaN,NaN,NaN,NaN,NaN
1526655,2703451,2020-10-05,202010,91,0,0.0,0.0,2019-09-30,NaN,a55475b1,...,780594500.0,A,NaN,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN
1526656,2703452,2020-10-05,202010,91,0,0.0,9048.0,NaN,NaN,P180_60_137,...,NaN,T,14.0,a55475b1,PHONE,NaN,NaN,NaN,NaN,NaN
1526657,2703453,2020-10-05,202010,91,0,0.0,0.0,2019-12-18,NaN,a55475b1,...,780825900.0,A,NaN,a55475b1,NaN,NaN,NaN,NaN,NaN,2015-05-29
1526658,2703454,2020-10-05,202010,91,0,0.0,2986.8,2020-06-21,NaN,a55475b1,...,NaN,A,6.0,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_test = pd.read_csv("./train_without_duplicate/train_deposit_1.csv")
df = df.merge(df_test, on='case_id', how = 'left')
df

,case_id,date_decision,MONTH,WEEK_NUM,target,actualdpd_943P,annuity_853A,approvaldate_319D,byoccupationinc_3656910L,cancelreason_3545846M,...,cacccardblochreas_147M,conts_type_509L,credacc_cards_status_52L,last180dayaveragebalance_704A,last180dayturnover_1134A,last30dayturnover_651A,openingdate_857D,amount_416A,contractenddate_991D,openingdate_313D
0,0,2019-01-03,201901,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2019-01-03,201901,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2019-01-04,201901,0,0,0.0,640.2,NaN,NaN,a55475b1,...,NaN,EMPLOYMENT_PHONE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2019-01-03,201901,0,0,0.0,6140.0,NaN,NaN,P94_109_143,...,NaN,PRIMARY_MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2019-01-04,201901,0,1,0.0,2556.6,NaN,NaN,P24_27_36,...,NaN,HOME_PHONE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1526654,2703450,2020-10-05,202010,91,0,0.0,2102.2,2019-10-09,NaN,a55475b1,...,a55475b1,PRIMARY_MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526655,2703451,2020-10-05,202010,91,0,0.0,0.0,2019-09-30,NaN,a55475b1,...,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526656,2703452,2020-10-05,202010,91,0,0.0,9048.0,NaN,NaN,P180_60_137,...,a55475b1,PHONE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526657,2703453,2020-10-05,202010,91,0,0.0,0.0,2019-12-18,NaN,a55475b1,...,a55475b1,NaN,NaN,NaN,NaN,NaN,2015-05-29,44916.645,2018-05-28,2015-05-29
1526658,2703454,2020-10-05,202010,91,0,0.0,2986.8,2020-06-21,NaN,a55475b1,...,a55475b1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_test = pd.read_csv("./train_without_duplicate/train_credit_bureau_b_1.csv")
df = df.merge(df_test, on='case_id', how = 'left')
df

,case_id,date_decision,MONTH,WEEK_NUM,target,actualdpd_943P,annuity_853A,approvaldate_319D,byoccupationinc_3656910L,cancelreason_3545846M,...,pmtmethod_731M,pmtnumpending_403L,purposeofcred_722M,residualamount_1093A,residualamount_127A,residualamount_3940956A,subjectrole_326M,subjectrole_43M,totalamount_503A,totalamount_881A
0,0,2019-01-03,201901,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2019-01-03,201901,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2019-01-04,201901,0,0,0.0,640.2,NaN,NaN,a55475b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2019-01-03,201901,0,0,0.0,6140.0,NaN,NaN,P94_109_143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2019-01-04,201901,0,1,0.0,2556.6,NaN,NaN,P24_27_36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1526654,2703450,2020-10-05,202010,91,0,0.0,2102.2,2019-10-09,NaN,a55475b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526655,2703451,2020-10-05,202010,91,0,0.0,0.0,2019-09-30,NaN,a55475b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526656,2703452,2020-10-05,202010,91,0,0.0,9048.0,NaN,NaN,P180_60_137,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526657,2703453,2020-10-05,202010,91,0,0.0,0.0,2019-12-18,NaN,a55475b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526658,2703454,2020-10-05,202010,91,0,0.0,2986.8,2020-06-21,NaN,a55475b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_test = pd.read_csv("./train_without_duplicate/train_credit_bureau_b_2.csv")
df = df.merge(df_test, on='case_id', how = 'left')
df

,case_id,date_decision,MONTH,WEEK_NUM,target,actualdpd_943P,annuity_853A,approvaldate_319D,byoccupationinc_3656910L,cancelreason_3545846M,...,residualamount_1093A,residualamount_127A,residualamount_3940956A,subjectrole_326M,subjectrole_43M,totalamount_503A,totalamount_881A,pmts_date_1107D,pmts_dpdvalue_108P,pmts_pmtsoverdue_635A
0,0,2019-01-03,201901,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2019-01-03,201901,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2019-01-04,201901,0,0,0.0,640.2,NaN,NaN,a55475b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2019-01-03,201901,0,0,0.0,6140.0,NaN,NaN,P94_109_143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2019-01-04,201901,0,1,0.0,2556.6,NaN,NaN,P24_27_36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1526654,2703450,2020-10-05,202010,91,0,0.0,2102.2,2019-10-09,NaN,a55475b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526655,2703451,2020-10-05,202010,91,0,0.0,0.0,2019-09-30,NaN,a55475b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526656,2703452,2020-10-05,202010,91,0,0.0,9048.0,NaN,NaN,P180_60_137,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526657,2703453,2020-10-05,202010,91,0,0.0,0.0,2019-12-18,NaN,a55475b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1526658,2703454,2020-10-05,202010,91,0,0.0,2986.8,2020-06-21,NaN,a55475b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df.to_csv("./train_without_duplicate/yunli_merge.csv", index=False)

In [33]:
df_test = pd.read_csv("./train_without_duplicate/bureau_a.csv")
df = df.merge(df_test, on='case_id', how = 'left')
df

/var/folders/nc/msb__ldd2wn4c7szd6_lx25r0000gn/T/ipykernel_36966/2003181935.py:1: DtypeWarning: Columns (38,39,41,57,70,80,94) have mixed types. Specify dtype option on import or set low_memory=False.
  df_test = pd.read_csv("./train_without_duplicate/bureau_a.csv")

,case_id,date_decision,MONTH,WEEK_NUM,target,actualdpd_943P,annuity_853A,approvaldate_319D,byoccupationinc_3656910L,cancelreason_3545846M,...,residualamount_488A,residualamount_856A,subjectrole_182M,subjectrole_93M,totalamount_6A,totalamount_996A,totaldebtoverduevalue_178A,totaldebtoverduevalue_718A,totaloutstanddebtvalue_39A,totaloutstanddebtvalue_668A
0,0,2019-01-03,201901,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2019-01-03,201901,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2019-01-04,201901,0,0,0.0,640.2,NaN,NaN,a55475b1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2019-01-03,201901,0,0,0.0,6140.0,NaN,NaN,P94_109_143,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2019-01-04,201901,0,1,0.0,2556.6,NaN,NaN,P24_27_36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1526654,2703450,2020-10-05,202010,91,0,0.0,2102.2,2019-10-09,NaN,a55475b1,...,NaN,NaN,ab3c25cf,ab3c25cf,7700.0,60602.0,0.0,0.0,10572.718,0.0
1526655,2703451,2020-10-05,202010,91,0,0.0,0.0,2019-09-30,NaN,a55475b1,...,NaN,NaN,ab3c25cf,ab3c25cf,75092.0,113980.0,0.0,0.0,64921.707,0.0
1526656,2703452,2020-10-05,202010,91,0,0.0,9048.0,NaN,NaN,P180_60_137,...,0.0,0.0,ab3c25cf,ab3c25cf,NaN,NaN,0.0,0.0,20547.752,0.0
1526657,2703453,2020-10-05,202010,91,0,0.0,0.0,2019-12-18,NaN,a55475b1,...,0.0,NaN,ab3c25cf,ab3c25cf,NaN,51996.0,0.0,0.0,42536.660,0.0
1526658,2703454,2020-10-05,202010,91,0,0.0,2986.8,2020-06-21,NaN,a55475b1,...,0.0,NaN,ab3c25cf,ab3c25cf,NaN,15998.0,0.0,0.0,8551.578,0.0

In [34]:
df_test = pd.read_csv("./train_without_duplicate/adeline_merged_output.csv")
df = df.merge(df_test, on='case_id', how = 'left')
df

/var/folders/nc/msb__ldd2wn4c7szd6_lx25r0000gn/T/ipykernel_36966/3280490774.py:1: DtypeWarning: Columns (16,23,24,25,29,30,31,33,36,46,51,55,57,77,78,99,102,103,104,108,110,112,113,114,115,118,121,122,123,124,125,126,127,129,130,131,135,136,138,139,140,141,142,153,200,201,202,203,213,222,223,224,244,245,266,269,270,271,275,277,279,280,281,282,285,288,289,290,291,292,293,294,296,297,298,302,303,305,306,307,308,309,320,367,368,369,370,380,389,390,391,392,393,394,395,397,398,404,405,406,425,426,436,437,438,439,440,445,446,448,449,450,452) have mixed types. Specify dtype option on import or set low_memory=False.
  df_test = pd.read_csv("./train_without_duplicate/adeline_merged_output.csv")
/var/folders/nc/msb__ldd2wn4c7szd6_lx25r0000gn/T/ipykernel_36966/3280490774.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'date_decision_x', 'MONTH_x', 'WEEK_NUM_x', 'target_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(df_test, on='case_id', how = 'left')

: